aioice==0.9.0
aiortc==1.5.0
asyncio==3.4.3
av==10.0.0
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
deepsort==0.0.5
dnspython==2.3.0
filelock==3.12.0
Flask==2.3.2
Flask-Cors==3.0.10
Flask-MySQLdb==1.0.1
fonttools==4.39.3
gitdb==4.0.10
GitPython==3.1.31
google-crc32c==1.5.0
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
mysqlclient @ file:///opt/concourse/worker/volumes/live/3e2c08bc-c6d4-44b9-6985-8c1059f99ec2/volume/mysqlclient_1609786255460/work
networkx==3.1
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
psutil==5.9.5
pycparser==2.21
pyee==9.1.0
pylibsrtp==0.8.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.30.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.2
six==1.16.0
smmap==5.0.0
sympy==1.11.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
utils==1.0.1
Werkzeug==2.3.3
WTForms==3.0.1
zipp==3.15.0
